[Desktop Entry]
Version=1.0
Name=TA Titrator
Exec=/home/ebbcarbon/src/ta_autotitrator/run.sh
Icon=/home/ebbcarbon/src/ta_autotitrator/install/ebb_stacked.png
Type=Application
Terminal=true
